data/datos-liga.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Elemento raíz -->
    <xs:element name="federacion">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="equipos" type="tipoEquipos" />
                <xs:element name="jugadores" type="tipoJugadores" />
                <xs:element name="temporadas" type="tipoTemporadas" />
                <xs:element name="usuarios" type="usuarios" minOccurs="0" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Tipo para la lista de equipos -->
    <xs:complexType name="tipoEquipos">
        <xs:sequence>
            <xs:element name="equipo" type="tipoEquipo" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para un equipo -->
    <xs:complexType name="tipoEquipo">
        <xs:sequence>
            <xs:element name="nombreEquipo" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="tipoIdEquipo" use="required" />
    </xs:complexType>

    <!-- Tipo para ID de equipo (E1, E2, etc.) -->
    <xs:simpleType name="tipoIdEquipo">
        <xs:restriction base="xs:string">
            <xs:pattern value="E[0-9]+" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo para la lista de jugadores -->
    <xs:complexType name="tipoJugadores">
        <xs:sequence>
            <xs:element name="jugador" type="tipoJugador" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para un jugador -->
    <xs:complexType name="tipoJugador">
        <xs:sequence>
            <xs:element name="nombreJugador" type="xs:string" />
            <xs:element name="apellidosJugador" type="xs:string" />
        </xs:sequence>
        <xs:attribute name="id" type="tipoIdJugador" use="required" />
    </xs:complexType>

    <!-- Tipo para ID de jugador (J1, J2, etc.) -->
    <xs:simpleType name="tipoIdJugador">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{8}[A-Z]" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Tipo para la lista de temporadas -->
    <xs:complexType name="tipoTemporadas">
        <xs:sequence>
            <xs:element name="temporada" type="tipoTemporada" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para una temporada -->
    <xs:complexType name="tipoTemporada">
        <xs:sequence>
            <xs:element name="plantillas" type="tipoPlantillas" />
            <xs:element name="jornadas" type="tipoJornadas" />
        </xs:sequence>
        <xs:attribute name="anoInicio" type="xs:gYear" use="required" />
        <xs:attribute name="anoFin" type="xs:gYear" use="required" />
    </xs:complexType>

    <!-- Tipo para plantillas de una temporada -->
    <xs:complexType name="tipoPlantillas">
        <xs:sequence>
            <xs:element name="equipo" type="tipoEquipoPlantilla" minOccurs="6" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para equipo en plantilla -->
    <xs:complexType name="tipoEquipoPlantilla">
        <xs:sequence>
            <xs:element name="jugador" type="tipoJugadorPlantilla" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="ref" type="tipoIdEquipo" use="required" />
        <xs:attribute name="escudo" type="xs:string" use="optional" />
    </xs:complexType>

    <!-- Tipo para jugador en plantilla -->
    <xs:complexType name="tipoJugadorPlantilla">
        <xs:attribute name="ref" type="tipoIdJugador" use="required" />
        <xs:attribute name="dorsal" type="xs:nonNegativeInteger" use="required" />
        <xs:attribute name="foto" type="xs:string" use="optional" />
    </xs:complexType>

    <!-- Tipo para las jornadas -->
    <xs:complexType name="tipoJornadas">
        <xs:sequence>
            <xs:element name="jornada" type="tipoJornada" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para una jornada -->
    <xs:complexType name="tipoJornada">
        <xs:sequence>
            <xs:element name="partido" type="tipoPartido" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para un partido -->
    <xs:complexType name="tipoPartido">
        <xs:sequence>
            <xs:element name="equipoLocal" type="tipoEquipoPartido" />
            <xs:element name="equipoVisitante" type="tipoEquipoPartido" />
            <xs:element name="puntosLocal" type="tipoPuntos" />
            <xs:element name="puntosVisitante" type="tipoPuntos" />
        </xs:sequence>
    </xs:complexType>

    <!-- Tipo para equipo en partido -->
    <xs:complexType name="tipoEquipoPartido">
        <xs:attribute name="ref" type="tipoIdEquipo" use="required" />
    </xs:complexType>

    <!-- Tipo para puntos (puede estar vacío si el partido no se ha jugado) -->
    <xs:simpleType name="tipoPuntos">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:nonNegativeInteger" />
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:length value="0" />
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:complexType name="usuarios">
        <xs:sequence>
            <xs:element name="usuario" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="user" type="xs:string" />
                        <xs:element name="pass" type="xs:string" />
                        <xs:element name="rol" type="xs:string" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>